MySqlServerDriver = com.mysql.jdbc.Driver
MySqlServerUrl = jdbc:mysql://mysql.cis.ksu.edu/sslayde
MySqlServerUser = sslayde
MySqlServerPassword = st3ph@n13!
PostgreSqlServerDriver = org.postgresql.Driver
PostgreSqlServerUrl = jdbc:postgresql://postgresql.cis.ksu.edu:5432/sslayde
PostgreSqlServerUser = sslayde
PostgreSqlServerPassword = myPostgreSQLpassword


